/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/track/*
/storage/track_test/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/track/1.json
.idea/*
